[MESSAGES CONTROL]

disable=missing-docstring
# yapf produces bad-continuation's on overlong `with` statements.
#disable=bad-continuation,line-too-long

good-names=i,j,k,m,s,ex,_,app

min-public-methods=0
max-attributes=15

#spelling-dict=en_US



# docparams messages.
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=no
accept-no-yields-doc=no


[MASTER]

#load-plugins=pylint.extensions.docparams
