[MESSAGES CONTROL]

disable=missing-docstring,locally-disabled,fixme

# yapf produces bad-continuation's on overlong `with` statements.
#disable=bad-continuation,line-too-long

good-names=i,j,k,m,s,ex,_,app
const-rgx=(([A-Za-z_][A-Za-z0-9_]*)|(__.*__))$

min-public-methods=0
max-attributes=15

#spelling-dict=en_US

ignored-classes=PktView

# docparams messages.
accept-no-param-doc=no
accept-no-raise-doc=no
accept-no-return-doc=no
accept-no-yields-doc=no


[MASTER]

#load-plugins=pylint.extensions.docparams
